:root {
    background-color: #234C8A;
}

body {
    margin: 0px;
    font-family: 'Courier Prime', monospace;
}

.nw_blue_square {
    width: 10vw;
    height: 10vw;
    left: 37.5vw;
    top: 37.5vw;
    background: #80AFF6;
    border-radius: 35px;
    position: absolute;
    z-index: 0;
}

.se_blue_square {
    width: 10vw;
    height: 10vw;
    left: 62.5vw;
    top: 62.5vw;
    background: #80AFF6;
    border-radius: 35px;
    position: absolute;
    z-index: 0;
}

.grey_square {
    width: 75vw;
    height: 50vw;
    left: 12.5vw;
    top: 12.5vw;
    background: #C4C4C4;
    border-radius: 15px;
    position: absolute;
    z-index: 0;
}