:root {
    --primary-color: #2D4B89;
}

body {
    margin: 0px;
    font-family: 'Courier Prime', monospace;
}

#circle_1 {
    position: absolute;
    width: 25vw;
    padding-bottom: 25vw;
    background: #588FE4;
    border-radius: 50%;
    top: -10vw;
    left: -10vw;
}

#circle_2 {
    position: absolute;
    width: 15vw;
    padding-bottom: 15vw;
    background: #80AFF6;
    border-radius: 50%;
    top: 25vw;
    left: 25vw;
}

.section_titles {
    color: var(--primary-color);
    font-size: 2em;
}

.collection .collection-pictures .desc_head {
    color: #224C8D;
    font-size: 29px;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.collection .collection-pictures .desc {
    color: #224C8D;
    font-size: 28px;
}


div.gallery {
    margin: 10px;
    border:none;
    float: left;
    padding: 10px;
}
  
div.gallery .h img {
    display: block;
    width: 371px;
    height: 371px;
    border-color: #1F2938;
}

/* * {
    box-sizing: border-box;
    border-radius: 10;
    border-image-width: 371;
} */

div.desc_head{
    text-align: left;
    padding: 10px;
}
div.desc {
    text-align: left;
    padding: 10px;
}

.responsive {
    padding: 6px;
    float: left;
    width: 24.99999%;
}
  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.responsive .gallery {
    background: white;
}