body {
    margin: 0px;
    font-family: 'Courier Prime', monospace;
}

#pentagon_1 {
    position: absolute;
    transform: rotate(-10deg);
	width: 22vh;
	height: 22vh;
	background: #588FE4;
	clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    top: -16vw;
    right: 80vw;
}

#pentagon_2 {
    position: absolute;
    transform: rotate(182deg);
    width: 15vh;
    height: 15vh;
    background: #80AFF6;
    clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    top: -10vw;
    right: 7vw;
}

#pentagon_3 {
    position: absolute;
    transform: rotate(5deg);
	width: 18vh;
	height: 18vh;
	background: #89CAFF;
	clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    top: -4vw;
    right: 45vw;
} 

.curved {
    position: relative;
    filter: url("#curve");
}

#footer_shape_1 {
    position: absolute;
    left: 45%;
    top: 0;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 75px 0 75px;
    border-color: #588FE4 transparent transparent transparent;
}

#footer_shape_2 {
    position: absolute;
    top: 20%;
    right: 0;

    width: 20%;
    padding-bottom: 20%;
    background: #80AFF6;
    clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}

@media only screen and (max-width: 700px) {
    #pentagon_3 {
      top: -50vw;
    }
  
    #pentagon_2 {
      top: -70vw;
    }

    #pentagon_1 {
      top: -90vw;
    }

	#footer_shape_2 {
		top: 70%;
	}
}
 
/* Meeting Slides Section */


.slides_page {
	position:relative;
	display:block;
	margin:0 auto;
	width:70%;
	top: 50px;
	z-index:1;
	margin-bottom:10em;
}

.slide_filter {
	height:auto;
	border-radius:30px;
	margin-bottom:40px;
	list-style-type: none;
	padding: 1px;
	display:block;
}
.slide_filter_item {
	position:relative;
	display: inline-block;
	font-size: 1.2em;
	line-height: 40px;
	text-align: center;
	border-radius: 25px;
	cursor: pointer;
	transition:all 0.3s ease-in-out;
	margin: 5px 5px;
	width:130px;
	padding:0px 10px;
}

.slide_filter li.slide_filter_active, .slide_filter li:hover{
	background: #224C8D !important;
	color: white;
}

.slides_container {
	position:relative;
	width:100%;
	display:grid;
	grid-gap:60px;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(360px , 1fr));
	margin:0 auto;
}

.slide {
	overflow: hidden;
	width:350px;
	height: 400px;
	border-radius:15px;
	box-shadow: 0 0 5px #000000;
}
.slide:hover {
	 box-shadow: 0 0 20px #000000;
	 transition:0.3s;
}

.slide_hyperlink {
	text-decoration: none;
	color: black;
}

.slide_image_container {
	object-fit: cover;
	width:100%;
	height: 100%;
	max-height:200px;
	overflow:hidden;
	transition:0.3s;
}
.slides_image {
	width:100%;
	height:auto;
	transform: scale(1.1);
	transition:0.3s;
}
.slide:hover .slides_image {
	transform: scale(1);
	transition:0.3s;
}
.about_slide_section {
	padding:20px 20px 0px 20px;
}
.slide_name {
	font-size:1.3em;
	font-weight:bold;
}
.about_slide {
	font-size:1.2em;
	margin-bottom:30px;
}

.view_slides_button {
	background: #224C8D;
	color: white;
	border-radius: 20px;
	text-decoration: none;
	padding: 10px 20px;
	transition: 0.3s;
}

.view_slides_button:hover {
	background: transparent;
	color: #224C8D;
	border-radius: 20px;
	border: #224C8D 2px solid;
}


/* Meeting Slides Section ^^^ */

@media only screen and (max-width: 1000px) {
	.slide_filter {
		display:block;
		margin: 0 auto;
		width: 200px;
		margin-bottom: 40px;
	}
	.slide_filter_item {
		display: block;
		margin: 0 auto;
		padding: 0 20px;
	}
}