body {
    margin: 0px;
    font-family: 'Courier Prime', monospace;
}

#pentagon_1 {
    position: absolute;
    transform: rotate(-10deg);
	width: 22vw;
	height: 22vw;
	background: #588FE4;
	clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    top: -16vw;
    right: 80vw;
}

#pentagon_2 {
    position: absolute;
    transform: rotate(182deg);
    width: 15vw;
    height: 15vw;
    background: #80AFF6;
    clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    top: -10vw;
    right: 7vw;
}

#pentagon_3 {
    position: absolute;
    transform: rotate(5deg);
	width: 18vw;
	height: 18vw;
	background: #89CAFF;
	clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    top: -4vw;
    right: 45vw;
}

.curved {
    position: relative;
    filter: url("#curve");
}