/* Navigation bar */
.desktop_navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    background: #1F2938;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    z-index: 2;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
}

.navbar_li {
    display: inline;
}

.nav_text {
    color: white;
    font-size: 1em;
    text-decoration: none;
    display: inline;
    margin: 0px 0px;
    line-height: 50px;
    padding-right: 35px;
    transition: 0.3s;
}

.nav_text:hover {
    color: #89CAFF;
}

.current_nav_page {
    color: #89CAFF;
}

.navbar_logo {
    width: 40px;
    height: auto;
    top: 5px;
    position: relative;
    left: 35px;
}

.navbar_title {
    left: 20px;
    position: relative;
}

.navbar_li_right {
    float: right;
}

.joc {
    background: #224C8D;
    width: auto;
    padding: 8px;
    border-radius: 10px;
    margin-right: 20px;
    border: #224C8D 2px solid;
    transition: 0.3s;
}
.joc:hover {
    background: white;
    color: #224C8D;
}

/* Navigation bar ^^^ */


/* Top section */
.top_section {
    position: relative;
    background-color: #234C8A;
    color: white;
    width: 100%;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    height: auto;
}

.top_section .left_container {
    float: left;
    z-index: 1;
    width: 25%;
}

.top_image {
    margin: 100px;
    margin-right: 140px;
    margin-bottom: 40px;
    border-radius:25px;
    width: 25vw;
    box-shadow: 5px -5px 40px -10px black;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    transition: 0.3s;
    animation: top_image_slide 1s;
    position: relative;
}

@keyframes top_image_slide {
    from {top:-500px;}
    to {top: 0;}
}

.top_image:hover {
    transform: scale(1.05);
}

.top_section .right_container {
    float: right;
    margin-left: 15%;
    text-align: center;
    z-index: 1;
}

.top_title {
    font-size: 2.8em;
}

@media only screen and (max-width: 700px) {
    .top_section {
        display: grid;
    }

    .top_section .left_container {
        float: right;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .top_image {
        margin-right: 32%;
        width: 35vw;
        float: right;
    }

    .top_section .right_container {
        float: left;
        margin-left: 0%;
        width: 100%;
        height: 100%;
    }
}

/* Top section ^^^ */

.nav_button {
    display: none;
}

@media screen and (max-width: 700px) {
    .desktop_navbar.responsive {
        top: -1%;
        width: 100%;
        height: 50px;
        border: none;
    }

    .desktop_navbar li:not(:nth-child(-n+3)) {
        display: none;
    }

    .desktop_navbar li.nav_button {
        float: right;
        display: block;
    }


    .nav_text.responsive{
        color: white;
        font-size: 1em;
        text-decoration: none;
        display: block;
        line-height: 50px;
        text-align: center;
    }

    .navbar_li_right:hover{
        background: #80AFF6;
    }
    
    .desktop_navbar.responsive {position: relative;}
    .desktop_navbar.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .desktop_navbar.responsive li {
        float: none;
        display: block;
        width: 100vw;
        text-align: left;
    }

    .desktop_navbar.responsive li:nth-child(3){
        display: none;
    }

    .nav_button {
        display: inline;
        font-family: 'Courier Prime', monospace;
        color: white;
        background: #1F2938;
        border: none;
        font-size: 1em;
        text-decoration: none;
        margin: 0px 0px;
        line-height: 45px;
        padding-right: 35px;
        float: right;
    }

    .navbar_li_right {
        float: left;
        width: 100%;
        height: 10vw;
        margin: auto;
        border: none;
        display: inline-block;
        background: #1F2938;
    }

}

/* ^ mobile-reponsive navbar ^ */

/* footer */
footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;

    background: #234C8A;
    color: white;
    font-size: 1.2em;
}

footer .footer_content {
    position: relative;
    margin: 40px 10px 40px;
    z-index: 1999;
}

footer .media_icons i {
    color: white;
    float: left;
    margin: 1.5%;
}

footer .contact_email a {
    color: white;
    text-decoration: none;
    z-index: 5;
}